<img style="position:absolute; left:550px; top:100px;" src="../assets/toro.jpg">
<button style="position:absolute; left:450px; top:350px;" class="btn btn-primary btn-large">Manager</button>
<button style="position:absolute; left:750px; top:350px;" class="btn btn-danger btn-large">Waiter</button>