<% if @cheque.current %>
	<% @orders.each do |order| %>
  <% @items = order.items %>
  <% @items.each do |item| %>
  <table>
    <thead>
      <tr>
        <th>Item name</th>
        <th>إItem price</th>
      </tr>
    </thead>
    <tbody>
      <% @items.each do |item| %>
        <tr>
          <th><%= item.name %></th>
          <th><%= item.price %></th>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
	<div style="text-align:center;">
		<a class="btn btn-large btn-primary" href="#">New Cheque</a>
	</div>
<% end %>